<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controllers.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Controllers.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailService</servlet-name>
        <servlet-class>Controllers.EmailService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductList</servlet-name>
        <servlet-class>Controllers.ProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailOfProduct</servlet-name>
        <servlet-class>Controllers.DetailOfProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Controllers.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCustomer</servlet-name>
        <servlet-class>Controllers.AdminCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSale</servlet-name>
        <servlet-class>Controllers.AdminSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controllers.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminControlAccount</servlet-name>
        <servlet-class>Controllers.admin.AdminControlAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBlockStatus</servlet-name>
        <servlet-class>Controllers.admin.AdminBlockStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDetails</servlet-name>
        <servlet-class>Controllers.AdminDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProfile</servlet-name>
        <servlet-class>Controllers.admin.AdminProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Controllers.Profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/ProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailService</servlet-name>
        <url-pattern>/email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailOfProduct</servlet-name>
        <url-pattern>/detailofproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCustomer</servlet-name>
        <url-pattern>/admincustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSale</servlet-name>
        <url-pattern>/adminsale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminControlAccount</servlet-name>
        <url-pattern>/admincontrolaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBlockStatus</servlet-name>
        <url-pattern>/adminblock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDetails</servlet-name>
        <url-pattern>/admindetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProfile</servlet-name>
        <url-pattern>/adminprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
</web-app>
