<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.common.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controllers.common.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Controllers.common.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailService</servlet-name>
        <servlet-class>Controllers.email.EmailService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductList</servlet-name>
        <servlet-class>Controllers.common.ProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailOfProduct</servlet-name>
        <servlet-class>Controllers.common.DetailOfProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Controllers.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCustomer</servlet-name>
        <servlet-class>Controllers.AdminCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSale</servlet-name>
        <servlet-class>Controllers.AdminSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controllers.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminControlAccount</servlet-name>
        <servlet-class>Controllers.admin.AdminControlAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBlockStatus</servlet-name>
        <servlet-class>Controllers.admin.AdminBlockStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDetails</servlet-name>
        <servlet-class>Controllers.admin.AdminDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProfile</servlet-name>
        <servlet-class>Controllers.admin.AdminProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandController</servlet-name>
        <servlet-class>Controllers.marketing.BrandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>controller.customer.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandDetailController</servlet-name>
        <servlet-class>Controllers.marketing.BrandDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListController</servlet-name>
        <servlet-class>Controllers.guest.blog.BlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailsController</servlet-name>
        <servlet-class>Controllers.guest.blog.BlogDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketingManagerment</servlet-name>
        <servlet-class>Controllers.marketing.MarketingManagerProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketingAddNewProduct</servlet-name>
        <servlet-class>Controllers.marketing.MarketingAddNewProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketingUpdateProduct</servlet-name>
        <servlet-class>Controllers.marketing.MarketingUpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketingAddProductDetail</servlet-name>
        <servlet-class>Controllers.marketing.MarketingAddProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketingManagerProductDetail</servlet-name>
        <servlet-class>Controllers.marketing.MarketingManagerProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketingUpdateProductDetail</servlet-name>
        <servlet-class>Controllers.marketing.MarketingUpdateProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controllers.marketing.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCategory</servlet-name>
        <servlet-class>Controllers.marketing.ManagerCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressMain</servlet-name>
        <servlet-class>Controllers.common.AddressMain</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/ProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailService</servlet-name>
        <url-pattern>/email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailOfProduct</servlet-name>
        <url-pattern>/detailofproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCustomer</servlet-name>
        <url-pattern>/admincustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSale</servlet-name>
        <url-pattern>/adminsale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminControlAccount</servlet-name>
        <url-pattern>/admincontrolaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBlockStatus</servlet-name>
        <url-pattern>/adminblock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDetails</servlet-name>
        <url-pattern>/admindetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProfile</servlet-name>
        <url-pattern>/adminprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandController</servlet-name>
        <url-pattern>/brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/cartcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandDetailController</servlet-name>
        <url-pattern>/branddetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailsController</servlet-name>
        <url-pattern>/blogDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingManagerment</servlet-name>
        <url-pattern>/marketing-manager-products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingAddNewProduct</servlet-name>
        <url-pattern>/add-new-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingUpdateProduct</servlet-name>
        <url-pattern>/update-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingAddProductDetail</servlet-name>
        <url-pattern>/add-product-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingManagerProductDetail</servlet-name>
        <url-pattern>/product-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingUpdateProductDetail</servlet-name>
        <url-pattern>/update-product-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCategory</servlet-name>
        <url-pattern>/managecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressMain</servlet-name>
        <url-pattern>/AddressMain</url-pattern>
    </servlet-mapping>
</web-app>
